@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@400;700&display=swap');

body {
    background: #ffffffb4;
    font-family: 'Montserrat Subrayada', sans-serif;
    color: #0e1f7a; 
}

.galeria {
    width: 90%;
    margin-top: 20px;
    columns: 4;
    column-gap: 20px;
}

.galeira .album {
    margin: 0 0 40px;
    padding: 20px;
    overflow: hidden;
    break-inside: avoid;
}

img {
    margin-top: 10px;
    border-radius: 15px;
}

.galeria .titulo {
    margin: 10px auto;
    border: 2px double #0e1f7a;
    height: 800px;
}
.galeria .titulo h1 {
    padding-top: 50px;
    padding-left: 20px;
}

.galeria .titulo p {
    padding-top: 50px;
    padding-left: 20px;
}

@media (max-width: 1000px)
{
    .galeria {
        columns: 3;
    }
    
    .galeria .titulo {
        height: 1300px;
    }
}

@media (max-width: 600px)
{
    .galeria {
        display: flex;
        position: relative;
        max-width: 600px;
    }

    .galeria .titulo {
        display: block;
        width: 100%;
        height: 200px;
        position: absolute;
    }

    .galeria .album {
        display: inline-block;
        columns: 2;
        padding-top: 220px;
        padding-left: 10px;
        padding-right: 10px;
    }
}